$titles: 3em;
$medium: 1.5em;
$small: 1rem;
$space: 2rem;

.layout {
  .navigation {
    font-size: $medium;
    background-color: #BE3144;
    padding: $space;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;

    .drawer-toggle {
      display: block;
    }

    .navigation_link {
      text-decoration: none;
      margin: $small;
      color: white;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 3px solid white;
        transition: border-bottom .5s ease-in-out;
      }
    }

    .navigation_link--active {
      border-bottom: 2px solid white;
      transition: border-bottom 1s ease-in-out;
    }
    
    .header {
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 1rem;
      text-align: center;
      font-size: $titles;
      position: fixed;
    }
  }
}

@media (max-width: 568px) {
  .layout {   
    .navigation {
      .header {
        font-size: .5rem;
      }
    } 
  }
}

@media (max-width: 736px) {
  .layout {
    .navigation {
      .navigation_link {
        display: none;
      }
  
      .navigation_link--active {
        display: none;
      }
    }
  }
}

@media (min-width: 737px) {
  .layout {
    .navigation {
      .drawer-toggle {
        display: none;
      }
    }
  }
}