.header {   
    margin: 10px;
    position: relative;
    
    h1 {
        float: left;
    }

    .social {

        float: right;
        a {
            margin: 5px;
            text-decoration: none;
            cursor: pointer;
        }
    }
}