.footer {
    width: 100%;
    border: 1px solid blue;
    background-color: white;

    #social {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        a {
            text-decoration: none;
            margin: 15px 10px;
            cursor: pointer;
        }
    }
}