.modal {

    h3 {
        text-align: center;
    }
}

.modal__list {
    width: 50%;
    border: 1px solid #57a125;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 30px;
    top: 0;
    left: 0;
    margin: auto;
}