$medium: 1.5rem;
$small: 1rem;
$specialText: #BE3144;
$medium_width: 15vmax;
$border: 2px solid $specialText;
$radius: 5px;

.popular_users {
  margin-top: 20vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  label {
    font-size: $medium;
    text-align: center;
  }

  .selected_language {
    display: flex;
    text-align: center;
    margin: 20px;

    .options {
      width: $medium_width;
      margin: 0px 10px;
      padding: 10px;
      outline: none;
      border: none;
      border-bottom: $border;
      border-radius: $radius;
      background-color: rgba(0, 0, 0, 0);
      color: $specialText;
      font-size: $small;
      cursor: pointer;

      &:hover {
          border-bottom: 2px solid #F00D1E;
          transition: border-bottom 0.5s;
      }
    }

    button {
      width: $medium_width;
      padding: 10px;
      margin: 0px 10px;
      background-color: #2a2025;
      border: none;
      border-bottom: $border;
      border-radius: $radius;
      color: $specialText;
      font-size: $small;
      cursor: pointer;
      outline: none;
      text-align: center;

      &:hover {
        border-bottom: 2px solid #F00D1E;
        transition: border-bottom 0.5s;
      }
    }
  }

  .error {
    color: $specialText;
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  .show-users {
    display: flex;
    flex-direction: column; 

    .users {
      display: flex;
      flex-direction: row; 
      flex-wrap: wrap;
      justify-content: center;
    }

    .fade-in {
      animation: fadeIn 1s ease-in;
    }

    @keyframes fadeIn {
      from {
        opacity: 0
      }
      to { 
        opacity: 1
      }
    }

    .load-more {
      display: flex;
      justify-content: center;
      margin: 25px;

      #loading {
        outline: none;
        padding: 20px;
        margin: 25px;
        border: $border;
        border-radius: $radius;
        background-color: transparent;
        width: 50%;
        color: white;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          transition: background-color .5s;
        }
      }
    }
  }
}

@media (max-width: 667px) {
  .popular_users {
    label {
      font-size: 1rem;
    }
  }
}