$medium: 2rem;
$small: 1.5rem;
$space: 5px;
$specialText: #BE3144;
$border: 1px solid $specialText;
$percent: 10%;

.show_user {
  max-width: 40vmax;
  width: 25vmax;
  margin: 30px;
  box-sizing: border-box;
  border-bottom: $border;
  border-top: $border;
  border-radius: $percent;

  header {
    h2 {
      font-size: $medium;
    }
  }

  .users {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .avatar {
      a {
        img { 
          max-width: 40vmax;
          border-radius: $percent;
          text-align: center;
          padding: 10px;
        }

        &:hover {
          opacity: 0.5;
          transition: opacity 0.5s;
        }
      }
    }
  
    .name {
      text-align: center;
      font-size: $small;

      a { 
        text-decoration: none;
        color: white;
      }
    }

    .profile_info {
      ul {
        li {
          list-style-type: none;
          font-size: 1.2rem;

          a {
            text-decoration: none;
            color: $specialText;
          }
        }
      }

      .span {
        font-weight: bold;
        margin: 0 $space;
      }

      .click_here {
        color: $specialText;
      }

      #click_blog {
        a {
          text-decoration: none;
          color: white;
        }
      }

      .icon {
        margin-right: $space;
      }
    }
  }
}

@media (max-width: 568px) {
  .show_user {
    padding: $space;

    header {
      h2 {
        font-size: 1.5rem;
      }
    }

    .users {
      .avatar {
        a {
          img {
            width: 20vmax;
          }
        }
      }
  
      .name {
        font-size: 1rem;
      }

      .profile_info {
        ul {
          li {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 569px)  {
  .show_user {
    max-width: 50vmax;
    width: 50vmax;

    .users {
      .avatar {
        a {
          img {
            max-width: 25vmax;
          }
        }
      }

      .profile_info {
        ul {
          li {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 813px) {
  .show_user {
    width: 30vmax;

    .users {
      .avatar {
        a {
          img {
            width: 30vmax;
          }
        }
      }
    }
  }
}