.home__page {
    top: 0;
    left: 0;
    margin: auto;
    width: 50%;

    p {
        padding: 20px;
        width: 50%;
        top: 0;
        left: 0;
        margin: auto;

        &:hover {
            color: red;
        }
    }

    button {
        margin-top: 10px;
        background-color: #5e971c;
        border: none;
        padding: 10px;
        width: 100%;
        outline: none;
        cursor: pointer;
    }
}